{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color: rgb(134, 179, 218);">
                <form action="{{url_for('views.blog')}}" method="post">
                    <div class="mb-3"><br>
                       <label for="category">category</label>
                       <input type="text" class="form-control" id="category" name="category">
                       
                   
                    </div><br>
                    <div class="form-group">
                        <label for="sender">Username</label>
                        <input type="text" class="form-control" id="sender" name="username">
                      </div>
                      <label for="title">Title</label>
                       <input type="text" class="form-control" id="title" name="title">

                      <label for="image">image url</label>
                       <input type="text" class="form-control" id="image" name="image">
                      <div class="mb-3">
                        <label for="blog" class="form-label">Enter the content here</label>
                        <textarea class="form-control" id="blog" name="blog" rows="5" cols="50" maxlength="450"></textarea>
                      </div><br>
                      <button type="submit">submit</button><br>
                </form><br>
               
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    {% endblock %}
    
