{% extends 'base.html' %}
<script type="textjavascript"
         src="{{ url_for('static', filename='update') }}"></script>

{% block content %}

    <div class="container">
        
    
        <div class="row"  >
           <ul>
            {% for blog in blogs %}
            
                <!-- <div class="col-sm-8" style="background-color: rgb(173, 199, 224); margin-bottom: 20px;margin-right: px;" >{{blog.blog}}</div><br><br>
                <div class="col-sm-4" style=" margin-bottom: 20px;margin-right: px; min-height: max-content;">
                
                        comments:    {{blog.comments}}  |     time published: {{blog.published_at}}
                 </div><br><br>
             -->
            
                 <div class="card" style="width: 100%;">
                    <img src="{{blog.image_url}}" style="width: 70%; height: auto;">
                    <div class="card-body">
                      <h2 class="card-title"> Title: {{blog.title}}
                      </h2>
                      <p class="card-text">{{blog.blog}}</p>
                      
                      <p>posted: {{blog.published_at}}</p>
                      <a href="{{blog.link}}" class="btn btn-primary" target="blank">Read more</a>
                     
                    </div>

                  </div><br><br>
           


            {% endfor %}    

           </ul> 
        </div>
        
        
    </div>
    

    
{% endblock %}