{% extends 'base.html' %}
<script type="textjavascript"
         src="{{ url_for('static', filename='update') }}"></script>

{% block content %}

    <div class="container">
        
    
        <div class="row"  >
           <ul>
            {% for blog in blogs %}
            
             <!-- <h2> qoute of the day :{{quote.author}}</h2> -->
            
                 <div class="card" style="width: 100%;">
                    <img src="{{blog.image_url}}" style="width: 70%; height: auto;">
                    <div class="card-body">
                      <h2 class="card-title"> Title: {{blog.title}}
                      </h2>
                      <p class="card-text">{{blog.blog}}</p>
                      
                      <p>posted: {{blog.published_at}}</p>
                      <a href="{{blog.link}}" class="btn btn-primary" target="blank">Read more</a>
                     
                    </div>

                  </div><br><br>
           


            {% endfor %}    

           </ul> 
        </div>
        
        
    </div>
    

    
{% endblock %}